body {
    background-color: rgb(208, 230, 241);
    }

    h1 {
        position: relative;
        padding: 1rem 2rem calc(1rem + 10px);
        background: #3ebdc9;
        width: 20%;
        text-align: center;
        margin:0 auto;
        padding: 1rem 3rem;
        color: #fff;
        border-radius: 100vh;
        background-image: -webkit-linear-gradient(right, #5d75e1 0%, #00e3ae 100%);
        background-image: linear-gradient(to left, #4f72db 0%, #00e3ae 100%);
      }
      
      
      h2 {
        position: relative;
        display: inline-block;
        margin: 1rem 0 1rem -10px;
        padding: 1rem 3rem;
        color: #fff;
        border-radius: 0 100vh 100vh 0;
        background: #0075a9;
        -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
      }
      
      h2:before {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 0;
        height: 0;
        content: '';
        border-top: 10px solid #005276;
        border-left: 10px solid transparent;
      }
            
      h3 {
        width: 5%;
        margin : 10px ;
        padding : 10px ;
        border : 2px solid #84b5e0 ;
        background-color : #fff ;
        font-size: 30px;
        text-align: left;
      }
      div  {
        font-weight: bold;
        margin : 30px ;
        padding : 20px ;
        border : 5px solid #84b5e0 ;
        background-color : #fff ;
        text-align: center;
   }


a{
 color: rgb(75, 77, 77);
 text-decoration :none;
 }
      
